/* Contenedor general de la tarjeta */
.review-card {
    background-color: var(--card-bg);
    border: none;
    border-radius: 8px;
    color: var(--text-primary);
    box-shadow: var(--shadow);
    margin-bottom: 20px;
    padding: 20px;
    text-align: center; /* Centrar todo inicialmente */
  }
  
  /* Sección Comida y Servicios */
  .review-section {
    display: flex;
    flex-direction: column; /* Colocar los elementos en columna */
    align-items: center; /* Centrar horizontalmente los títulos */
    text-align: left; /* Alinear el contenido interno a la izquierda */
    margin-top: 20px;
  }
  
  .review-section h6 {
    font-weight: bold;
    color: var(--accent-color);
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  /* Listas de estrellas */
  .review-stars {
    margin-top: 10px;
    width: 100%; /* Para que ocupe el ancho completo de la sección */
  }
  
  .review-stars p {
    margin: 5px 0;
    color: var(--text-primary);
    font-size: 1rem;
  }
  