/* src/components/Reviews/Reviews.css */

/* Contenedor general de la tarjeta */
.review-card {
  background-color: var(--card-bg);
  border: none;
  border-radius: 8px;
  color: var(--text-primary);
  box-shadow: var(--shadow);
  padding: 20px;
}

/* Sección Comida y Servicios */
.review-sections {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.review-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.section-title {
  font-weight: bold;
  color: var(--accent-color);
  margin-bottom: 10px;
  font-size: 1.2rem;
}

/* Listas de estrellas */
.review-stars {
  margin: 5px 0;
  color: var(--text-primary);
  font-size: 1rem;
}

.review-stars strong {
  margin-right: 5px;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 767px) {
  .review-sections {
    flex-direction: column;
  }
}

/* Estilo para la fecha de la reseña */
.review-date {
  color: var(--text-secondary);
  font-size: 0.9rem;
  opacity: 0.8;
}

.card-subtitle{
  color: var(--text-secondary);
}

.alerta{
  text-align: center;
  color: var(--text-primary);
}