/* Variables comunes */
:root {
  --modal-padding: 30px;
  --modal-radius: 10px;
  --btn-padding: 10px 20px;
  --btn-font-size: 1rem;
}

/* Contenedor principal */
.restaurants-container {
  background-color: var(--container-bg);
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  color: var(--text-primary);
}

/* Títulos */
h1,
.menu-modal-content h2,
.menu-modal-content h3 {
  font-weight: bold;
  color: var(--accent-color);
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.menu-modal-content h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.menu-modal-content h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  padding-bottom: 5px;
  margin-top: 20px;
  text-align: right;
  color: var(--text-primary);
  border-bottom: 1px solid var(--text-secondary);
}

/* Mapas */
.map-container {
  height: 500px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--container-bg);
  margin-bottom: 20px;
}

/* Texto */
.text-secondary,
.menu-modal-content li {
  color: var(--text-secondary);
}

.text-secondary {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
}

/* Popup */
.popup-content {
  padding: 0px;
  max-width: 350px;
  font-size: 1rem;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.popup-buttons .btn {
  flex: 1;
  font-size: 0.9rem;
  padding: 10px;
}

/* Modal */
.menu-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.menu-modal-content {
  background-color: var(--container-bg);
  padding: var(--modal-padding);
  border-radius: var(--modal-radius);
  max-width: 700px;
  width: 90%;
  box-shadow: var(--shadow);
  text-align: left;
  animation: fadeIn 0.3s ease-in-out;
}

.menu-modal-content.expanded {
  max-width: 900px;
  /* Modal más grande */
}

/* Línea divisoria */
.menu-divider {
  width: 100%;
  height: 2px;
  background-color: var(--text-secondary);
  margin: 15px 0;
}

/* Lista */
.menu-modal-content ul {
  list-style: none;
  padding: 0;
  margin: 15px 0;
}

.menu-modal-content li {
  font-size: 1.1rem;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed var(--text-secondary);
  padding-bottom: 5px;
}

.menu-modal-content li span:last-child {
  font-weight: bold;
  color: var(--accent-color);
}

/* Botones */
.menu-modal-content button {
  margin-top: 30px;
  padding: var(--btn-padding);
  font-size: var(--btn-font-size);
  font-weight: bold;
  background-color: var(--accent-color);
  color: var(--text-primary);
  border: none;
  border-radius: var(--modal-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-modal-content button:hover {
  background-color: var(--accent-hover);
}

/* Animación */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estrellas */
.star-rating {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.star {
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.star.selected {
  color: var(--accent-color);
}

.star.unselected {
  color: var(--text-secondary);
}

.star-rating-container label {
  font-size: 1.2rem;
  color: var(--text-primary);
  font-weight: bold;
  margin-bottom: 0px;
  display: block;
}

/* Review form */
.review-form select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--text-secondary);
  border-radius: var(--modal-radius);
  background-color: var(--container-bg);
  color: var(--text-primary);
  font-size: 1rem;
}

.review-form .buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

