/* Navbar */
.navbar {
    background-color: var(--background-dark); /* Fondo igual al resto de la app */
    box-shadow: var(--shadow);
    padding: 10px 20px;
  }
  
  /* Marca (nombre de la app) */
  .navbar-brand {
    font-weight: bold;
    font-size: 2rem;
    color: var(--accent-color);
    text-transform: uppercase;
  }
  
  /* Enlaces del menú */
  .nav-link {
    font-size: 1.2rem;
    color: var(--text-primary);
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: var(--accent-color);
  }
  
  /* Botón de hamburguesa (para móviles) */
  .navbar-toggler {
    border-color: var(--accent-color);
  }
  
  .navbar-toggler-icon {
    background-color: var(--accent-color);
  }

  
  